.header-bg {
  background-color: #001528;
  height: 22rem;
  position: relative;
}
.logo {
  border-bottom: 1px solid #374151;
  background-color: #001528;
  z-index: 99;
}

.logo_image {
  width: 6rem;
  height: 2rem;
}

.text-sm {
  font-size: 0.6rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-grey {
  color: #6c7280;
}

.text-bold {
  font-weight: bold;
}

.text-black {
  color: #111827;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.margin-left-sm {
  margin-left: 0.25rem;
}

.ant-statistic-title {
  font-size: 0.6rem;
  color: #6c7280;
}
