.header-bg {
  background-color: #001528;
  height: 22rem;
  position: relative;
}
.logo {
  border-bottom: 1px solid #374151;
  background-color: #001528;
  z-index: 99;
  padding: 1rem 0;
}

.logo_image {
  width: 6rem;
  height: 2rem;
}

.text-sm {
  font-size: 0.6rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-grey {
  color: #6c7280;
}

.text-white {
  color: #fff;
}

.text-bold {
  font-weight: bold;
}

.text-black {
  color: #111827;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.margin-left {
  margin-left: 1rem;
}
.margin-left-sm {
  margin-left: 0.25rem;
}

.ant-table-cell,
.ant-statistic-title {
  font-size: 0.6rem;
  color: #6c7280;
}

.ant-card {
  border-radius: 10px;
}

.ant-card-head {
  min-height: 65px;
}

.ant-card-body {
  padding: 0;
}

/* .ant-card-head-title {
  padding: 6px 0;
} */

.price-tag {
  background-color: #6c7280;
  border-radius: 10rem;
  height: 2rem;
  padding: 0 1rem;
}

.price-stx {
  display: block;
  height: 12px;
  fill: none;
  color: currentColor;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 12px;
  margin-right: 4px;
  opacity: 0.5;
}

.price-stx_d {
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linejoin: bevel;
}

.btc-icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  opacity: 0.5;
}

